NUXT_PUBLIC_SITE_URL=https://unicorn-studio.pro
NUXT_PUBLIC_STRAPI_URL=http://localhost:1337
STRAPI_URL=http://localhost:1337
STRAPI_TOKEN=

NUXT_PUBLIC_YANDEX_MAPS_API_KEY=
NUXT_PUBLIC_YANDEX_METRIKA_ID=

DEPLOY_USER=
DEPLOY_HOST=
DEPLOY_PATH=
DEPLOY_PASSWORD=
